/* *{outline: solid 1px green;} 
  colores
.a,.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.l,.m,.n,.o,.p{
	width: 200px;
	height: 100px;
}
.a{background: #0dc0c0;}
.b{background: #98a0a8;}
.c{background: #fafafa;}
.d{background: #888;}
.e{background: #c9d1d6;}
.f{background: #2d323a;}
.g{background: #24282e;}
.h{background: #384147;}
.i{background: #32383f;}
.j{background: #e8edef;}
.k{background: #009ca8;}
.l{background: #323a45;}
.m{background: #f4f4f4;}
.n{background: #444;}
.o{background: #555;}
.p{background: #363c46;}
/* colores*/

.btn{border-radius: 0;}

header{
	background: url("../img/background/hero.jpg") center top;
	background-size: cover;
	/*height:600px;
	/*-webkit-filter: opacity(90%);*/
	/*-webkit-filter: opacity(60%);*/
}

.opacity{
	/*background-color:rgba(0,0,0,0.5)3*/
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 650px;	
}

nav{
	background: url("../img/background/city.jpg") center top;
	background-size: cover;

}
.opacity1{
	/*background-color:rgba(0,0,0,0.5)3*/
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 420px;	
}
footer{
	background: url("../img/background/contactus.jpg")center top;
	background-size: cover;
}
.opacity2{
	/*background-color:rgba(0,0,0,0.5)3*/
	background: rgba(0,0,0,0.5);
	width: 100%;
	padding-bottom: 100px;
}
/* headerrrr*/
header, nav, footer,aside,a {
	color: #f4f4f4;
}
header ul li{
	position: relative;
	display: inline-block;
	top: 24px;
	margin-left: 20px;
}
header li a:hover{
	transition:.1s;
	color:#009ca8;
	text-decoration: none;
} 
header h1{
	margin-top: 180px;
}

.botones{
	text-align: center;
}
.oboton{
	color: #98a0a8;
	background: #32383f;
	padding: 10px;
}
.oboton:hover{color: white;}
.lboton{
	background: rgba(255,255,255,0.2);
	padding: 10px;
}
.lboton:hover{color:#009ca8;}

/* iconos debajo dl header++++++++++++++++++*/
.icon {/*+++++++++AVION*/
	text-align: center;
	color:#009ca8;
	font-size: 35px;
}
.contenedor{
	padding: 40px 35px;
}
.uno{
	padding: 10px 20px;
}

/*computadora+++++++++++++++++++++++++++*/
.compu{
	background:#f4f4f4; 
}

/*iconos debajo de computadora++++++++++++*/
.icon2{
	color:#009ca8;
	font-size:35px;
}
.contenedor1{
	padding: 40px 35px;
}
.dos{
	padding: 20px 20px;
}
.col-xs-1{
	padding-left:0;
}

/*portafolio++++++++++++++++++++++++++++*/
.portafolio, .contenedor2{
	background: #f4f4f4;
}
/*portafolio menu +++++++++++++++++++++++++++faltaaaaaaaaaa*/
.menup ul li{
	position: relative;
	display: inline-block;
}
.menup li a{
	color: black;
}
.menup ul{
	width: 100%;
}
.menup .col-xs-12{
	text-align: center;
}
/* btn++++++++++++++++++++++++++++++++++++++*/

.aboton{
	background:#fafafa;
}
.aboton:hover{
	background:#0dc0c0;
	color: #fafafa;
}

/*portafolio imagenes +++++++++++++++++++++*/
.blanco{
	background:#fafafa;
	margin: 15px 15px;
}
.img-responsive{
	margin:0 auto;
	padding-top: 2px;
}
.contenedor2 .blanco .img-responsive{
	border: solid #fafafa 8px;
}
.blanco{
	border: solid #e8edef 1px;
}
.bboton{
	color: #98a0a8;
	background: #24282e;
	margin: 30px auto 10px;
	position: relative;
	display: block;
	width: 100px;
}
.bboton:hover{color:white;}

/*cityyyy+++++++++++++++++++++++++++++++++++++++++++++++++*/
.city{
	margin-top: 100px;
}
/*precios++++++++++++++++++++++++++++++++++++++++*/
.portafolio{
	background: #f4f4f4;
	padding: 10px 30px 40px;
}
.text{padding-bottom: 25px;}
.black{
	color: white;
	background: #2d323a;
	height: 100px;
}
.blue{
	color:white;
	background:  #0dc0c0;
	height: 100px;
}
.gray{
	background: #f4f4f4;
	height: 100px;
}
.lista{
	box-sizing:border-box;
	padding: 30px 10px;
	background: white;
}
.lista li{
	/*border: none;*/
	text-align: center;
	padding: 20px 0;
}
.linea {
	border-bottom: 1px solid gray;
	width: 250px;
	text-align: center;
}
.purchase{
	color: #98a0a8;
	background: #2d323a;
	width: 140px;
}
.purchase:hover{color:white;}

/*diana*/
.what{
	padding: 40px 0;
}
.diana{
	display: block;
	margin: auto;
	width:100px;
	height:100px;
	border-radius: 100%;
}
.texto{
	padding: 5px 60px 2px;
}
.nombre{
	padding-bottom: 40px;
}
/* footer*/
.redes{
	font-size: 30px;
	padding: 35px 0 0;
}
.redes a{
	color: #2d323a;
	text-decoration: none;
}
.cboton{
	background: #0dc0c0;
}

article{
	padding: 40px 0;
}
article h3{padding-bottom: 20px;}
aside{
	background:#24282e;
	padding: 25px 0;
}
textarea, input{
	background: rgba(255,255,255,0.1);
	border:none;
	padding: 10px 5px;
}
form{
	margin-bottom: 15px;
}

